.App {
  text-align: center;
}

.search-bar {
  margin: 20px;
}

.search-bar input {
  padding: 10px;
  width: 300px;
}

.search-bar button {
  padding: 10px;
  margin-left: 10px;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.result-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.result-card h2 {
  font-size: 13pt;
  margin-top: 0;
}

.result-card .score {
  color:darkgreen;
  font-weight: bold;
}